.App {
  text-align: center;
  margin: 0 auto;
}

.Calculator {
  margin: 0 auto;
  width: 160px;
}

.Calculator button {
  width: 40px;
  height: 40px;
  text-align: center;
  float: left;
}

.first-row button:first-child {
  width: 120px;
}

.last-row button:first-child {
  width: 80px;
}

.row,
.first-row,
.last-row {
  clear: both;
}
